{% extends 'base/main.html' %}
{% load static %}
{% block content %}
<style>
    body {
        background-color: #223E2A;
    }
</style>
<div class="login_text_container">
    <img src="{% static 'media/logo.png' %}">
</div>
<div class="form_container">
    <form method="Post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="login" style="color: #223E2A; background-color: white;">
    </form>
</div>

<div class="login_text_container" style="color: white;">
    <p>Dont have an account? <a href="{% url 'register' %}">Register</a></p>
</div>
{% endblock content %}